@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #161623;
}

body::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    transform: translate(-180px, -80px);
}

.card {
    width: 80%;
    height: 500px;
    background-color: rgba(42, 51, 124, 0.582);
}

.card .card-header h3 {
    font-weight: 500;
}

.card .card-body p {
    font-weight: 500;
}

input {
    width: 85%;
    margin: 0 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 4px 5px;
    background: transparent;
    color: #fff;
}

h3, p, h4 {
    color: #fff;
}